@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(100deg, #e0e8ee, #dae2e8);
	border-top: 20px solid #ff3e00;
	padding: 20px;
	font-family: 'Overpass', sans-serif;
}
